[Desktop Entry]
Version=1.0
Name=Capybara Coin
Comment= CAP P2P Cryptocurrency
Comment[fr]= CAP, monnaie virtuelle cryptographique pair à pair
Comment[tr]= CAP, eşten eşe kriptografik sanal para birimi
Exec=cap-qt %u
Terminal=false
Type=Application
Icon=ddr128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=CapybaraCoin-Qt
